<footer>
    <div class="container">
        <div class="footer-menu">
            <ul>
                <li><a routerLink="/privacy">Privacy</a></li>
                <li><a routerLink="/cookies">Cookies</a></li>
                <li><a routerLink="/terms">Terms</a></li>
                <li><a routerLink="/help">Help</a></li>
            </ul>
        </div>
        <div class="copyrights">
            <p>@2018 <a routerLink="/">SOCIALCRAP.COM</a> | ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>