<app-head></app-head>
<article class="container">
  <div class="row justify-content-center">
    <div *ngIf="!ok" class="col-md-4 log">
      <div class="login-box">
        <h1>Account Recovery</h1>
        <form (ngSubmit)="recover(data)" #data="ngForm">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter your email or mobile" name="user" ngModel>
          </div>
          <button class="form-control btn-self" type="submit">SUBMIT</button>
        </form>
      </div>
    </div>
    <div *ngIf="ok && !verified" class="col-md-6 log">
      <div class="login-box">
        <h1>Verify Account</h1>
        <form (ngSubmit)="answer(data)" #data="ngForm">
          <div class="form-group">
            <label class="question">{{q1}}</label>
            <input type="text" class="form-control" placeholder="Enter your answer here..." name="firstAnswer" ngModel>
          </div>
          <div class="form-group">
            <label class="question">{{q2}}</label>
            <input type="text" class="form-control" placeholder="Enter your answer here..." name="secondAnswer" ngModel>
          </div>
          <button class="form-control btn-self" type="submit">SUBMIT</button>
        </form>
      </div>
    </div>
    <div *ngIf="ok && verified" class="col-md-4 log">
      <div class="login-box">
        <h1>Create Password</h1>
        <form (ngSubmit)="resetPassword(data)" #data="ngForm">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password" name="password" ngModel>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" name="confirm" ngModel>
          </div>
          <button class="form-control btn-self" type="submit">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</article>
<app-footer></app-footer>