.body{
	background-color:#F0F8FF;
	margin-top:0;
	padding-top:20px;
	padding-bottom:20px;
}
article{
	margin-top:20px;
	margin-bottom:40px;
	padding-left:40px;
	padding-right:50px;
}
.btn-blue{
	background-color:#0045cc;
	color:#FFFFFF;
}

.btn-blue:hover{
	opacity: 0.9;
}

.search {
	height: auto;
	width:100%;
	margin-right: 20px;
	padding:20px;
	background-color: #FFFFFF;
	min-height: 480px;
}

.search h5{
	margin-top:20px;
	margin-left:20px;
	margin-bottom: 10px;
}

.search a{
	text-decoration: none;
	color:#000000;
}

.search a.hover{
	text-decoration: none;
}

.result{
	margin:20px;
}

.result img{
	width: 72px;
	height: 72px;
}

.result span.name{
	position: absolute;
	margin-top:25px;
	margin-left:10px;
}

.result span.time{
	position: absolute;
	font-size:11px;
	margin-top:33px;
	margin-left:10px;
}

.result button{
	float: right;
	margin-top:20px;
}